.valued-clients {
  margin-bottom: 150px;
  &-header {
    padding-top: 55px;
    margin-bottom: 14px;
    font-family: "Urbanist-SemiBold", sans-serif;
    font-size: 48px;
    background-image: url("./../../img/common-imgs/shine-icon.svg");
    background-repeat: no-repeat;
  }
  &-text {
    font-size: 18px;
    line-height: 150%;
    color: #999;
    margin-bottom: 80px;
  }
}

.valued-clients-item {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &-top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    &-info {
      max-width: 495px;
      &-since {
        font-size: 18px;
        color: #999;
        margin-bottom: 6px;
      }
      &-header {
        font-family: "Urbanist-SemiBold", sans-serif;
        font-size: 30px;
      }
    }
    &-visit-website {
      font-size: 18px;
      padding: 18px 24px;
      background-color: #1a1a1a;
      border-radius: 10px;
      border: 1px solid #262626;
    }
  }
  &-middle-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    &-wrapper {
      max-width: 306px;
      width: 100%;
      padding-right: 30px;
      position: relative;
      &::after {
        content: "";
        height: 65px;
        width: 1px;
        background-color: #262626;
        position: absolute;
        right: -15px;
        top: 0;
      }
      &:last-child::after {
        content: none;
      }
      &-header {
        width: 100%;
        font-size: 18px;
        color: #999;
        padding-left: 30px;
        &.domain {
          background-image: url("./../../img/valued-clients/domain-icon.svg");
          background-repeat: no-repeat;
        }
        &.category {
          background-image: url("./../../img/valued-clients/category-icon.svg");
          background-repeat: no-repeat;
        }
      }
      &-text {
        font-size: 20px;
        width: 100%;
      }
    }
  }
  &-bottom-part {
    border-radius: 12px;
    border: 1px solid #262626;
    padding: 30px;
    &-header {
      font-size: 18px;
      color: #999;
      width: 100%;
      margin-bottom: 14px;
    }
    &-text {
      font-size: 18px;
      line-height: 150%;
    }
  }
}
