.our-achievements {
  margin-bottom: 110px;
  &-header {
    padding-top: 55px;
    margin-bottom: 14px;
    font-family: "Urbanist-SemiBold", sans-serif;
    font-size: 48px;
    background-image: url("./../../img/common-imgs/shine-icon.svg");
    background-repeat: no-repeat;
  }
  &-text {
    font-size: 18px;
    line-height: 150%;
    color: #999;
    margin-bottom: 80px;
  }
  &-list {
    display: flex;
    align-items: center;
    &-item {
      max-width: 505px;
      margin-right: 40px;
      border: 1px solid #262626;
      border-radius: 12px;
      padding: 50px;
      &-header {
        max-width: 405px;
        font-family: "Urbanist-SemiBold", sans-serif;
        font-size: 30px;
        margin-bottom: 30px;
      }
      &-text {
        max-width: 405px;
        font-size: 18px;
        line-height: 150%;
        color: #999;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
