.swiper-slide {
  background-color: #141414;
  border-radius: 12px;
  max-width: 512px;
  border: 1px solid #262626;
}

.swiper-pagination-fraction {
  width: unset;
  position: unset;
  text-align: left;
  font-size: 20px;
  color: #999;
  padding-top: 20px;
  border-top: 1px solid #262626;
  height: 80px;
}

.swiper-pagination-current {
  color: #fff;
}

.swiper-wrapper {
  margin-bottom: 50px;
}

.swiper-button-prev,
.swiper-button-next {
  top: unset;
  margin-top: unset;
  width: 58px;
  height: 58px;
  margin-top: 20px;
  z-index: 10;
  color: transparent;
}

.swiper-button-prev {
  right: 68px;
  left: unset;
  background-image: url("./../../img/common-imgs/prev-active.svg");
  background-repeat: no-repeat;
}

.swiper-button-next {
  background-image: url("./../../img/common-imgs/next-active.svg");
  background-repeat: no-repeat;
  right: 0;
}
