.pricing-details {
  margin-bottom: 110px;
  &-header {
    font-family: "Urbanist-SemiBold", sans-serif;
    font-size: 48px;
    line-height: 150%;
    padding-top: 40px;
    background-image: url("./../../img/common-imgs/shine-icon.svg");
    background-repeat: no-repeat;
    margin-bottom: 14px;
  }
  &-text {
    font-size: 18px;
    color: #999;
    line-height: 150%;
    margin-bottom: 80px;
  }
  &-note {
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: #1a1a1a;
    border: 1px solid #262626;
    padding: 30px 50px;
    margin-bottom: 50px;
    &-header {
      font-family: "Urbanist-SemiBold", sans-serif;
      font-size: 24px;
      padding: 20px;
      border-right: 1px solid #262626;
    }
    &-text {
      margin-left: 20px;
      font-size: 18px;
      color: #999;
      margin-bottom: 5px;
    }
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-listing-price {
      max-width: 220px;
      width: 100%;
      &-header {
        font-size: 20px;
        color: #999;
        margin-bottom: 2px;
      }
      &-number {
        font-family: "Urbanist-SemiBold", sans-serif;
        font-size: 40px;
      }
    }
    &-main-info {
      width: 100%;
      max-width: 1326px;
      display: flex;
      flex-direction: column;
      .detailed-info {
        max-width: 1326px;
        border: 1px solid #262626;
        padding: 50px 50px 0px 50px;
        margin-bottom: 50px;
        border-radius: 12px;
        &:last-child {
          margin-bottom: 0;
        }
        .top-part {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 40px;
          border-bottom: 1px solid #262626;
          margin-bottom: 40px;
          &-header {
            max-width: 1047px;
            font-family: "Urbanist-SemiBold", sans-serif;
            font-size: 24px;
          }
          &-link {
            font-size: 18px;
            padding: 18px 24px;
            border-radius: 10px;
            background-color: #1a1a1a;
            border: 1px solid #262626;
          }
        }
        .grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          &-item {
            border-bottom: 1px solid #262626;
            padding-bottom: 40px;
            &:last-child {
              border-bottom: none;
            }
            &:nth-child(2n) {
              border-right: none;
            }
            &-title {
              color: #999;
              margin-bottom: 16px;
              font-size: 18px;
            }
            &-wrapper {
              display: flex;
              align-items: center;
              &-amount {
                font-family: "Urbanist-SemiBold", sans-serif;
                font-size: 24px;
                margin-right: 16px;
              }
              &-desc {
                font-size: 18px;
                padding: 8px 14px;
                border: 1px solid #262626;
                background-color: #1a1a1a;
                border-radius: 28px;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.full-width {
  grid-column: span 2;
}

.border-none {
  border-bottom: 0 !important;
}
