.location-tabs {
  margin-bottom: 110px;
  &-header {
    padding-top: 55px;
    margin-bottom: 14px;
    font-family: "Urbanist-SemiBold", sans-serif;
    font-size: 48px;
    background-image: url("./../../img/common-imgs/shine-icon.svg");
    background-repeat: no-repeat;
  }
  &-text {
    font-size: 18px;
    line-height: 150%;
    color: #999;
    margin-bottom: 80px;
  }
  &-btns {
    display: flex;
    padding: 10px;
    background-color: #191919;
    border-radius: 12px;
    margin-bottom: 50px;
    max-width: 668px;
    &-item {
      &-btn {
        color: #fff;
        font-size: 18px;
        padding: 18px 70px;
        border: 1px solid #262626;
        border-radius: 10px;
      }
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background-color: #141414;
      }
    }
  }
  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    &-item {
      border: 1px solid #262626;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &-type {
        font-size: 18px;
        margin-bottom: 10px;
        display: block;
      }
      &-adress {
        font-family: "Urbanist-SemiBold", sans-serif;
        font-size: 30px;
        margin-bottom: 14px;
      }
      &-text {
        line-height: 150%;
        color: #999;
        font-size: 18px;
        margin-bottom: 40px;
      }
      &-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        &-item {
          font-size: 18px;
          padding: 14px 20px 14px 50px;
          background-color: #191919;
          border-radius: 28px;
          border: 1px solid #262626;
          &.email {
            background-image: url("./../../img/contact-page/mail-icon.svg");
            background-repeat: no-repeat;
            background-position: top 12px left 18px;
          }
          &.phone {
            background-image: url("./../../img/contact-page/phone-icon.svg");
            background-repeat: no-repeat;
            background-position: top 12px left 18px;
          }
          &.location {
            background-image: url("./../../img/contact-page/location-icon.svg");
            background-repeat: no-repeat;
            background-position: top 12px left 18px;
          }
        }
      }
      &-link {
        font-size: 18px;
        background-color: #703bf7;
        max-width: 683px;
        width: 100%;
        display: inline-block;
        padding: 18px 0;
        text-align: center;
      }
    }
  }
}

.display-none {
  display: none;
}

.display-block {
  display: grid;
}
